$clearfix
  &:after
    content ""
    display table
    clear both

$container
  padding-right spacingBase
  padding-left spacingBase
  margin-right auto
  margin-left auto

$button
  display inline-block
  border-radius .25rem
  border .1875rem solid transparent
  text-decoration none
  font-size 1.2rem
  line-height 2.5rem
  padding 0 2.4rem
  appearance none
  text-transform uppercase
  cursor pointer
  font-weight 700
  transition .2s background-color timingFunction,
    .2s border-color timingFunction,
    .2s color timingFunction
