
fontFamily = "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

primaryColor = #4dba87
secondaryColor = #435466

spacingMini = .3125rem // 5px
spacingSmall = .9375rem // 15px
spacingBase = 1.875rem // 30px
spacingLarge = 3.75rem // 60px

timingFunction = cubic-bezier(.18, .98, .45, 1)
