header.header
  .header__inner
    h1.header__logo
      a(href="/")
        svg(width='25' height='24' xmlns='http://www.w3.org/2000/svg')
          g(stroke='#42c6c7' stroke-width='3' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round')
            path(d='M14.429 22L23 13.429l-8.571-8.572M10.571 2L2 10.571l8.571 8.572')
        span
          ='Onedev'
          small='.'
          ='studio'
    include ../includes/navbar.pug
