extends layouts/blank.pug
block head
  - var pageUrl = homepage + '/contato-orcamento-sites-com-wordpress/'
  - var pageTitle = 'Contato e Orçamento | Sites, blogs e lojas virtuais com WordPress em Curitiba'
  - var pageDescription = 'Contato e Orçamento de Sites com Wordpress | Sites, blogs e lojas virtuais com WordPress em Curitiba'
  include includes/head.pug
block content
  main.error
    h1='Oops, erro 404.'
    p.lead
      | A página que você acessou não foi localizada ou não existe.
