extends layouts/default.pug
block head
  - var pageUrl = homepage + '/contato-orcamento-sites-com-wordpress/'
  - var pageTitle = 'Contato e Orçamento | Sites, blogs e lojas virtuais com WordPress em Curitiba'
  - var pageDescription = 'Contato e Orçamento de Sites com Wordpress | Sites, blogs e lojas virtuais com WordPress em Curitiba'
  include includes/head.pug
block content
  h1='Hospedagem'
