extends layouts/default.pug
block content
  main.hero
    .hero__inner.container
      h1.hero__title
        ='Est치 procurando um parceiro de '
        span='c칩digo'
        ='? Conte com a '
        span='Onedev.studio'
        ='!'
      p.hero__lead.lead
        span
          | N칩s convertemos projetos em c칩digo para <strong>ag칡ncias</strong> e <strong>designers</strong>. Convertemos seu design (PSD e Sketch) para <strong>HTML</strong>, e criamos e personalizamos seu tema para <strong>WordPress</strong>.
      div.hero__button
        a.button.button--primary(href='/contato')
          | Vamos conversar!
        span
          ='Veja '
          a.inline-hover(href="#")='meus 칰ltimos trabalhos'
          =' abaixo. 游녢'
